@{
    ViewBag.Title = "Home Page";
}



<body class="indexbody">
    <div>
        <h1 class="hjob">Zoho Ticketing Sysytem </h1>
        <p class="hjob1">Zoho..  Explore our journey through the years..</p>
    </div><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <div class="indexcon">
        <h1>What we do</h1><br />
    </div>
    <p class="paragraph">
        Zoho Desk is a cloud-based ticketing system (also known as a help desk system)  
        developed by Zoho. It's designed to assist businesses in managing customer support 
        interactions through various channels. Here's a breakdown of some key features and 
        functionalities of Zoho Desk:
    </p>
    <div class="indexcon">
        <h3>
            Ticketing System Core:
        </h3><br />
    </div>
    <p class="paragraph">
        Multiple Channels: Zoho Desk allows you to receive and manage support requests from various channels, 
        including email, phone calls (through cloud telephony integration), social media, live chat (embeddable chat widget), 
        and web forms on your website.
        Ticket Management: It provides a centralized platform to organize, prioritize, and track customer support tickets. 
        You can assign tickets to specific agents, set deadlines, and collaborate internally on resolving issues.
        Automation: Zoho Desk offers automation features like auto-tagging, automatic assignment based on rules, and pre-configured 
        responses for faster resolution of common issues.
        Self-Service Portal: You can set up a self-service portal with knowledge base articles, FAQs, and community 
        forums to empower customers to find solutions themselves.
    </p>
    </div>
    <div>
        <div class="contain">
            <img class="indeximg" src="~/images/brand-img.png" />
        </div>
    </div>
</body>
